body {
    /*background-image: url(/view/img/scr_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;*/

    font-family: "Monotype Corsiva";
    font-size: 20px;
}

.input_text {
    width : 200px;
    height: 25px;
}

a {
    font-size: 20px;
    text-decoration: none;
}

input[type="submit"]{
    width : 200px;
    height: 35px;
    color: #fff;
    text-shadow: none;
    background-color: darkolivegreen;
    cursor: pointer;
}