select{
    width : 200px;
    height: 30px;
    cursor: pointer;
}

.language_table {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 100px;
    margin-top: -103px;
    margin-left: -200px;
}

caption {
    font-size: 25px;
}

input[type="submit"]{
    width : 200px;
    height: 35px;
    color: #fff;
    text-shadow: none;
    background-color: darkolivegreen;
    cursor: pointer;
}